{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Reset your password

{% endblock title %}
{% block content %}

<html>
  <head>
    <meta charset="utf-8" />
    
    

    <meta name="description" content="" />

   
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'vendor/fonts/boxicons.css' %}" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />

    <!-- Helpers -->
    <script src="{% static 'vendor/js/helpers.js' %}"></script>
    <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/config.js' %}"></script>
    
  </head>

<body>
   

   <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            
            <h4 class="mb-2" style="color:#FFFFFF"; >Forgot Password? 🔒</h4>
            <p class="mb-4" style="color:#FFFFFF"; >Enter your email and we'll send you instructions to reset your password</p>
            <form  class="mb-3" action="" method="POST" style=" width: 25vw; " >
              
                {% csrf_token %}
                
                <!--{% bootstrap_form form %}-->
                <div class="mb-3 form-password-toggle">
                  <h6 style="color:#FFFFFF";>Adress Email</h6>
                    <div class="input-group input-group-merge">
                      {%render_field  form.email class="form-control" placeholder="Enter your email" type="text" %}
                     </div> 
                </div>

                {% buttons %}
                
                <button type="submit" class="btn-get-started scrollto" value="send e-mail">Send </button>
               
                {% endbuttons %}
            </form>
            <div class="text-center">
              <a href="{% url 'authapp:login' %}" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
          </div>

        </div>
       
      </div>
   



<!-- Core JS -->
    
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

   
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  

  <!-- Template Main JS File -->
  <script src="{% static 'js/main1.js' %}"></script>
    
  

    
{% endblock content %}
</body>
</html>